{% extends "base.html" %}

{% block content %}
  <h1 class="title">
    Welcome, {{name}}! please choose your level!!
  </h1>
  <br>
  <div class="row" >
    <div class="column">
      <a >
        <img alt="easy" src="{{url_for('static', filename='images/Villager-icon.png')}}">
        <p>Easy</p>
      </a>
    </div>
    <div class="column">
      <a >
        <img alt="medium" src="{{url_for('static', filename='images/Viking-icon.png')}}">
        <p>Medium</p>
      </a>
    </div>
    <div class="column" >
      <a >
        <img alt="hard" src="{{url_for('static', filename='images/Knight-icon.png')}}">
        <p>Hard</p>
      </a>
    </div>
  </div>
{% endblock %}
