{% extends "base.html" %}
{% block content %}
  <h6 class="title">Level {{level + 1}}</h6>
  <div id="sudoku" class="sudoku">
    <table class="sudoku__table" align="center">
      <tbody>
        {%set index = namespace(value=0) %}
        {%set row_class = namespace(value="") %}
        {%set cell_class = namespace(value="") %}
        {% for row in range(1, 10) %}
          {%set row_class.value = "sudoku__table-row " %}
          {%if row % 3 == 0 %}
            {%set row_class.value = row_class.value + "sudoku__table-row--separator" %}
          {%endif%}
          <tr class="{{row_class.value}}">
            {%for cell in range (1, 10) %}
              {%set cell_class.value = "sudoku__table-cell " %}
              {%if cell % 3 == 0 %}
                {%set cell_class.value = cell_class.value + "sudoku__table-cell--separator " %}
              {%endif%}
              {%if sudoku[index.value] == '.' %}
                {%set cell_class.value = cell_class.value + "sudoku__table-cell--editable" %}
                <td class="{{cell_class.value}}" data-cell-index="{{index.value}}" contenteditable >
                {%else%}
                  <td class="{{cell_class.value}}" data-cell-index="{{index.value}}" >
                    {{sudoku[index.value]}}
                  {%endif%}
                  {%set index.value = index.value + 1%}
                  </td>
                  {%endfor%}
          </tr>
                {%endfor%}
      </tbody>
    </table>
  </div>
  <script charset="utf-8">
    var editable = document.getElementsByTagName("td");
    var i;
    for (i = 0; i < editable.length; i++) {
      editable[i].addEventListener("input", function() {
        //normal style <for remove errors/default>
        this.style.background = "#fff";
        this.style.color = "#2020df";
        if ( this.innerHTML!==""){
          var data = Number(this.innerHTML);
          if(data <= 9){
            var index = Number(this.getAttribute("data-cell-index"));
            var s = '{{ solution }}' ;
            if (Number(s[index]) == data){
              this.setAttribute("contenteditable",false)
              //save
              // make a request to save this move
              //check if game is over
              // work in progress
            }else{
              //wrong Answer
              this.style.background = "#fdd";
              this.style.color = "red";
            }
          }else{
            //inavlid data - (number greater than 9 or char(s))
            this.style.background = "#f66d6d";
            this.style.color = "white";
            //only allow to display two chars to avoid deformations
            if(this.innerHTML.length>2){
              this.innerHTML = this.innerHTML.substr(0,2);
            }
          }
        }
      }, false);
    }
  </script>
{% endblock%}
